@import '../../variables';

.navbar{
    width: 100%;
};

.navbar-logo-img{
    width: 100px;
    height: 60px;
};

.navbar-brand{
    color: $white-color !important;
    font-weight: bold;
};

.navbar-link{
    color: $white-color !important;
    &:hover{
        color:$highlight-color !important;
    }
};

.navbar-link-active{
    padding-bottom: 3px;
    border-bottom:1px solid $highlight-color;
};