@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
* {
  font-family: "Tenali Ramakrishna", sans-serif;
}

.navbar-logo-img {
  width: 100px;
  height: 60px;
}

.navbar-link-active {
  padding-bottom: 3px;
  border-bottom: 1px solid coral;
}

.layout {
  width: 100%;
}

.app_header {
  width: 100%;
  margin-bottom: 90px;
}

.app_body {
  width: 100%;
  min-height: 50vh;
}

.block-home {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block-home-overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
}

.block-home-content {
  position: absolute;
  width: 100%;
  top: 40%;
}

.block-home-content-form {
  width: 40%;
  margin: 0px auto;
}

.block-home-content-form-input input[type="text"] {
  background: transparent;
  color: #fff;
}

.search-form::-webkit-input-placeholder {
  color: #fff !important;
  font-size: 18px;
}

.search-form:-ms-input-placeholder {
  color: #fff !important;
  font-size: 18px;
}

.search-form::-ms-input-placeholder {
  color: #fff !important;
  font-size: 18px;
}

.search-form::placeholder {
  color: #fff !important;
  font-size: 18px;
}

.input-group-text {
  background: transparent !important;
}

.input-group-icon {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .block-home {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.footer {
  width: 100%;
}

.footer-links-container {
  width: 100%;
  text-align: center;
}

.footer-links-ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer-links-item {
  margin-right: 10px;
}

.footer-links-icon {
  text-decoration: none;
  color: #aaa;
}

.footer-links-icon:hover {
  text-decoration: none;
  color: coral;
}

.vehicles-section {
  width: 100%;
  margin: 20px 0px;
}

.vehicle-card {
  width: 100%;
  margin: 5px 0px;
}

.vehicle-card-root {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.vehicle-card-media {
  width: 60%;
  padding: 0px;
  top: 0px;
  left: 0px;
}

.vehicle-card-img-preloader {
  width: 100%;
  height: 150px;
  background: #aaa;
}

.vehicle-card-img {
  width: 100%;
  height: 150px;
}

.vehicle-card-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.vehicle-card-name {
  text-decoration: none;
}

.vehicle-card-name:hover {
  text-decoration: none;
}

.aboutus {
  width: 100%;
  height: auto;
}

.about-section-img {
  width: 100%;
  height: 300px;
}

.about-section-content {
  width: 100%;
  margin-top: 30px;
}

.about-section-content-heading {
  padding-bottom: 4px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.vehicle-gallery-section {
  width: 100%;
  margin: 10px 0px;
}

.vehicle-gallery-img-container {
  width: 100%;
  margin: 10px 0px;
}

.vehicle-gallery-img-preloader {
  width: 100%;
  height: 300px;
  background: #aaa;
}

.vehicle-gallery-img {
  width: 100%;
  height: 300px;
}

.vehicle-gallery-slideshow {
  width: 100%;
  margin: 5px 0px;
}

.vehicle-gallery-slideshow-image {
  width: 120px !important;
  height: 100px;
  padding: 3px;
  border: 1px solid coral;
  cursor: pointer;
}

.vehicle-card-name {
  width: 100%;
  margin: 10px auto;
}

.vehicle-card-name-vehicle {
  font-size: 17px;
}

.vehicle-card-name-category {
  font-size: 16px;
}

.vehicle-card-payment {
  width: 100%;
  margin: 10px 0px;
}

.vehicle-card-payment-amount {
  font-size: 17px;
}

.vehicle-description-card {
  width: 100%;
  margin: 10px 0px;
}

.vehicle-description-card-heading {
  font-size: 17px;
}

.description-card-description {
  font-size: 15px;
}

.section-login {
  width: 100%;
  margin: 30px 0px !important;
}

.login-form-container {
  position: relative;
  width: 100%;
}

.login-form-container-content {
  width: 50%;
  margin: 10px auto;
  top: 45%;
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .login-form-container-content {
    width: 100%;
    margin: 10px 0px;
    top: 45%;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px;
  }
}

.signup-section {
  width: 100%;
  margin: 20px 0px;
}

.signup-form-container {
  width: 100%;
  position: relative;
}

.signup-form-container-content {
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .signup-form-container-content {
    width: 100%;
    margin: 10px 0px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
  }
}

.user-dashboard {
  width: 100%;
  margin-top: 30px;
}

.dashboard-profile-links-ul {
  width: 80%;
  margin: 10px auto;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #aaa;
}

.dashboard-profile-link a {
  color: black;
}

.dashboard-profile-link a:hover {
  text-decoration: none;
}

.dashboard-profile-link-active a {
  color: coral;
}

.dashboard-profile-link-active a:hover {
  text-decoration: none;
}

.user-profile-pic-container {
  width: 100%;
}

.user-profile-img-preloader {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 5px auto;
  background: #aaa;
}

.user-profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 5px auto;
}

.user-profile-form {
  width: 80%;
  margin: 5px auto;
}

.profile-img-label {
  margin: 5px 0px;
  cursor: pointer;
}

.order-card {
  width: 100%;
  margin: 10px 0px;
}

.order-card-root {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.order-card-cover {
  width: 40%;
}

.order-card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 60%;
}

.order-card-img-preloader {
  width: 100%;
  height: 170px;
  background: #aaa;
}

.order-card-img {
  width: 100%;
  height: 170px;
}
/*# sourceMappingURL=style.css.map */