@import '../../variables';


.order-card{
    width: 100%;
    margin: 10px 0px;
};

.order-card-root{
    display: flex !important;
};

.order-card-cover{
    width: 40%;
}

.order-card-details{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 60%;
}

.order-card-img-preloader{
    width: 100%;
    height: 170px;
    background: $gray-color;
};

.order-card-img{
    width: 100%;
    height: 170px;
};

