@import '../../variables';

//the vehicle section
.vehicles-section{
    width: 100%;
    margin: 20px 0px;
}

.vehicle-card{
    width: 100%;
    margin: 5px 0px;
};

.vehicle-card-root{
    display: flex !important;
};

.vehicle-card-img-section{
    width:100%;
    height: 150px;
    position: relative;
}


.vehicle-card-img-preloader{
    width: 100%;
    height: 100%;
    position: relative;
    background: $gray-color;
};
.vehicle-card-img{
    width: 100%;
    height: 100%;
    position: relative;
};

.vehicle-card-img-overlay{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    background: rgba(0,0,0,.8);
};

.vehicle-card-img-overlay-content-data{
    color: $white-color;
    margin-right: 5px;
};

.vehicle-card-img-overlay-icon{
    color: $white-color;
}

.vehicle-card-details{
    flex: 1 0 auto;
    flex-direction: column;
    width: 40%;
};

.vehicle-card-name{
    text-decoration:none;
    &:hover{
        text-decoration:none;
    }
}