@import '../../variables';

.vehicle-description-card{
    width: 100%;
    margin: 10px 0px;
};

.vehicle-description-card-heading{
    font-size: 17px;
    font-weight: bold;
};

.description-card-description{
    font-size: 15px;
}